{% extends 'base.html' %}
      {% block title %}
        {% if form.instance.id %} Редактировать запись {% else %} Добавить запись {% endif %}
      {% endblock %}
      {% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header"> 
                {% if form.instance.id %} редактировать пост {% else %} Новый пост {% endif %}
              </div>
              <div class="card-body">  
                {% load user_filters %}
                  {% include 'includes/errors.html'%}
                  {% if not form.instance.id %}
                    <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                  {% else %}
                      <form method="post" action="{% url 'posts:post_edit' form.instance.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                  {% endif %}
                  {%include 'includes/fields.html'%}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if form.instance.id %} Сохранить {% else %} Добавить {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
